*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f2f5;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: #fff;
    height: 560px;
    max-width: 1000px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    text-align: center;
    padding-top: 60px;
}
h1{
    color: #212529;
    margin-bottom: 20px;
}
.toggle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.toggle-container p{
    color: #6c757d;
    font-weight: 500;
}
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ced4da;
    transition: .4s;
    border-radius: 24px;
}
.slider:before{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider{
    background-color: #007bff;
}
input:checked + .slider:before{
    transform: translateX(26px);
}
.slider .round{
    border-radius: 34px;
}
.slider .round:before{
    border-radius: 50%;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    width: 280px;
    height: 355px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.basic h2{
    color: #007bff;
    padding: 20px;
}
.basic p{
    color: #007bff;
    font-size: 34px;
    padding: 10px;
    margin: 10px;
}
ul{
    list-style: none;
    margin-bottom: 20px;
}
ul li{
    color: #6c757d;
    margin-bottom: 10px;
}
button{
    all: unset;
    color: white; 
   padding: 10px 25px;
   font-weight: 600px;
   cursor: pointer;
   border-radius: 5px;
   margin: 15px;
}
.basic button{
    background-color: #007bff;
}
.Professional{
    background-color: #e9ecef;
    border: 2px solid #6f42c1;
    transform: scale(1.06);
}
.Professional button{
    background-color: #6f42c1;
}
.Professional h2{
    color: #6f42c1;
    padding: 20px;
}
.Professional p{
    color: #6f42c1;
    font-size: 34px;
    padding: 10px;
    margin: 10px;
}
.master h2{
    color:  #28a745;
    padding: 20px;
}
.master p{
    color: #28a745;
    font-size: 34px;
    padding: 10px;
    margin: 10px;
}
.master button{
    background-color: #28a745;
}